.hero {
    padding-top: 60px;
    padding-bottom: 61px;
    background-size: cover;
    background-repeat: no-repeat;
    &__header-logo {
        width: 110px;
        height: 34px;
    }
    &__title {
        max-width: 343px;
        margin: 0 auto;
        margin-bottom: 9px;
        font-family: 'Constantine';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        text-align: center;
        text-transform: uppercase;
        
        color: #E5CEAD;
    }
    &__text-1 {
        margin-bottom: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height */
        
        text-align: center;
        text-transform: uppercase;
        
        color: #E5CEAD;
    }
    &__img-2 {
        display: none;
    }

    &__btn {
        
        margin: 0 auto;
        margin-bottom: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 343px;
        height: 43px;
        background: #E5CFAD;
        border-radius: 15px;    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        text-transform: uppercase;

        color: #1E1E1E;
    }
}

@media (min-width: 992px) {
    .hero {
        &__container {
            padding-top: 5px !important;
            padding-right: 0 !important;
        }
        &__block-1 {
            padding-top: 24px;
        }
        &__title {
            max-width: 724px;
            text-align: left;
            font-weight: 400;
            font-size: 54px;
            line-height: 77px;
            text-transform: uppercase;

            color: #E5CEAD;
        }
        &__img-2 {
            display: block;
        }
        &__text-1 {
            text-align: left;

            font-size: 20px;
            line-height: 29px;
        }
        &__btn {
            margin: 0;
            margin-bottom: 20px;
            width: 417px;
            height: 71px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;

            color: #1E1E1E;
        }
    }
}


@media (min-width: $screen-desktop) {
    .hero {
        &__container {
            padding-left: 80px !important;
        }
        &__block-1 {
            padding-top: 127px;
        }
        &__title {
            max-width: 724px;
            margin-bottom: 14px;
            text-align: left;
            font-weight: 400;
            font-size: 64px;
            line-height: 77px;
            text-transform: uppercase;

            color: #E5CEAD;
        }
        &__img-2 {
            display: block;
        }
        &__text-1 {
            text-align: left;

            font-size: 24px;
            line-height: 29px;
            margin-bottom: 31px;
        }
        &__btn {
            margin: 0;
            margin-bottom: 67px;
            width: 417px;
            height: 71px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;

            color: #1E1E1E;
        }
    }
}

